
html,body {
    margin:0;
    padding:0;
	min-height:100%; /* needed for container min-height */
	width: 100%;

    font-family:arial,sans-serif;
    font-size:medium;
	color:#B9F807;

	background-color: #282828;	
	padding: 5px;
}


.firstCont {
	background-color: rgb(255, 255, 255);

	font-family: 'Open Sans';

	color: rgb(102, 102, 102);
}

.secondCont{
	background-color: rgb(102, 102, 102);

	font-family: 'Open Sans';
	color: white;

	position: relative;
}

.title{

	color: rgb(102,102,102);
	position: absolute;
	font-size: 2.618em;
	line-height: 1.618em;

}

.subtitle{

	color: rgb(153, 153, 153);

	font-size: 0.618em;

	text-align: center;
	/*margin-left: auto;
	margin-right: auto;*/

}

.txt{
	position: absolute;
	position: absolute;
	font-size: 1.618em;
	line-height: 1.618em;

	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

.fb{
	color: rgb(137,158,203);
}
.gh{
	color: rgb(238,185,153);
}
.ig{
	color: rgb(223,166,97);
}
.gp{
	color: rgb(221,97,90);
}
.tw{
	color: rgb(93,181,222);
}
.tb{
	color: rgb(183,201,99);
}



/*Sun*/
.sun {

	/*display: block;*/

	position: absolute;

	width: 100px;
	height: 100px;
	background: url("svg/sun1.svg");

	background-size: 100px 100px;

	z-index: 90;
}


/*Cloud */

.bodySky{
	background-color: #0e83cd;
}

.cloud {

	position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(250,250,250);
	border-radius: 50% 50% 50% 50%;
    box-shadow: 3em 0em 0px rgb(250,250,250), -3em 0em 0px rgb(250,250,250), 
    	-1.5em -0.5em 0px rgb(246,246,246), 1.5em -0.5em 0px rgb(246,246,246),
    	-1.5em 0.5em 0px rgb(246,246,246), 1.5em 0.5em 0px rgb(246,246,246),
    	0em 1em 0px rgb(242,242,242), 0em -1em 0px rgb(242,242,242);

    z-index: 100;
}

/*Ground*/

.ground {

	bottom: 0px;
	position: absolute;
    width: 50px;
    height: 50px;
    background-color: #DB7C3C; /* Cor da terra */

    box-shadow: inset 0em 1em 0px rgb(170,180,36),
    	inset 0em 2em 2em #BA6218;

    z-index: 100;
}


/*Mountain*/
.mountain{
    position: absolute;
    bottom: 50px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 180px solid #92641b;
    z-index: 50;

    opacity: 0.9;
}

.mountain-top {
    position: absolute;
    right: -65px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 77px solid #c38624;
    z-index: 2;
}
